@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root{
    --white: #f6f6f6;
    --blue:#3858d6;
    --grey:#a2a7b1;
    --poppins:'Poppins', sans-serif;
}
*{
    font-size: var(--poppins);
}


